.mood-charts-container {
    display: flex;
    height: 150vh;
    background-color:#d8faff;
  }
  
  .mood-charts-content {
    flex: 1;
    padding: 40px; /* Increased padding */
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mood-charts-content h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 40px; /* Increased spacing */
    font-size: 2rem;
  }
  
  .chart-container {
    margin-bottom: 50px; /* Increased spacing between charts */
    width: 80%;
    max-width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .chart-container h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .insights-section {
    margin-bottom: 50px; /* Increased spacing */
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin-top: 40px;
  }
  
  .insights-section h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .insights-section p {
    color: #2c3e50;
    font-size: 1.2rem;
  }
  
  .back-to-history-btn {
    padding: 12px 24px;
    background-color: #33c7d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-to-history-btn:hover {
    background-color: #2aa8b8;
  }